.fondo{
    background-image: url('../../Fondo.jpg');
    color: white;
}
.controles{
    display: grid;
}
.card-body{
    background-color: black;
}
.card-album{
    margin: 25px;
}
.YT{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.titulos{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container{
    margin-top: 40px;
}
.summary2{
    margin-bottom: 0;
    padding-bottom: 20px;
    
}
.summary1{
    padding-top: 30px;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.segunda{
    margin-top: 30px;
}
#artista{
    margin-bottom: 30px;
}
#input{
    background-color:#c9b66b;
}
.discos{
    display: flex;
}
.container{
    margin-right: 5%;
    margin-left: 8%;
}
#AL{
    text-align: center;
}
.videos{
   margin: 10px; 
}