.logo {
    max-width: 8% ;
    max-height: auto;
    margin-left: 15px;
    }

/*#a {
    display: flex;
    justify-content: space-around;
}*/

.menu{
 margin: 10px;
 color: red;
 font-size: 20px;
}
.menu1{
margin-right: 40px;
}
.pagina{
 margin-left: 138px;
 font-size: 45px;
}  

