.logo {
    max-width: 8% ;
    max-height: auto;
    margin-left: 15px;
    }

#a {
  background-color: black;
  color: white;
  border-bottom: #c9b66b 3px solid;
  width: 100%;
}

.menu{
 margin: 10px;
 color: red;
 font-size: 20px;
}
.menu:hover{
  color: #c9b66b;
}
.menu1{
margin-right: 40px;
}
.pagina{
 margin-left: 138px;
 font-size: 45px;
} 

